body {
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    background-color: #FFFFFF; /* Fundo geral: Branco */
    color: #0f1d41; /* Cor padrão do texto: Azul escuro */
}
.tab-active {
    background-color: #7116aa; /* Lilás */
    color: #FFFFFF;
    font-weight: 600;
}
.tab-inactive {
    background-color: #FFFFFF; /* Branco */
    color: #0f1d41; /* Azul escuro */
    border: 1px solid #0f1d41; /* Borda para destaque */
}
.tab-inactive:hover {
    background-color: #f0ebf2; /* Levemente lilás ao hover */
}
/* Nova classe para os ícones no rodapé */
.footer-icon {
    color: #FFFFFF; /* Branco para os ícones */
    transition: color 0.3s ease;
}
.footer-icon:hover {
    color: #7116aa; /* Lilás no hover */
}
/* Sombreamento para os cards */
.card-shadow {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08); /* Sombra mais suave */
}
.card-shadow:hover {
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.12); /* Sombra um pouco mais forte no hover */
}